version: "~> 1.0"
git:
  depth: 1
  quiet: true
language: java
jdk:
  - openjdk21
branches:
  only:
    - develop
    - support/4.1.x
    - support/4.0.x
    - master
cache:
  directories:
    - "$HOME/.m2"
notifications:
  slack: craftersoftware:7YiSb41ZG5rfMgiAY7Qgprc7
before_install:
  - mkdir -p $HOME/.m2
  - cp .travis-settings.xml $HOME/.m2/settings.xml
install: skip
script:
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then bash -c "mvn deploy --settings .travis-settings.xml"; fi
  - if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then bash -c "mvn clean install"; fi
env:
  global:
    - secure: "cWeKtbsV7/BTiJTYLQj7rjLS/vS/JebeY2Q5/j4tTGQSTPlcBEqsXAdCN31MrUTOCrcZ0SH1s1vfC3X3Z8jrR/qqFiOGsa11i73X6Okvdiu8OXZxHfrZIRTqKMLiF78oVVVHN5IS9e9jT+M33gBPwUX9DYrB8wka0AtC9UlX7OTqqUYNYSpEmKL+FJ/WPy88pljgcuBGcZwbKiBLtPMyKXODvsB1iO0SNNPYtN8JSlafyABPVc31G/weM3lBaDy8VkWwJCCvWmgI7RfSBn0eCQ0MJLLIZvly/1JzovOsFQIj9/vQqBJb4YlRnPj8bGrQeHXep+xtZThrRFDerF8ogow34Bfd0K0DVeD7tEgEOfBgRg4UtLYJiqUMGg7Rrr6RyWhHVP9p+J3yLV3Byy2Q5A6BY40bmLfj8DvkyqMDGG76lH1kEp94nrVprL0rGRL3Bxm3uZRU5lMspLADywKDf6AN9PEfexl8ZDPlootsYRTTl0bRbDs9kS60fwDUcedYaFPYwuyZQGjoSwJZDGUyUGz4oNyxn/yjuSX7QotFAHMTfMdDVQCpGRBd8nWrKJiUztoDx7O9Hmlg5IJx6P6wq7ILOUSBpJ1jNv26CUbbwf9dw40eYs+eybmbjXyNwpKfT/TkKB2kg90kMNZsXiTtFGUEhQ9qazpy2yrZiGRxYA4="
    - secure: "rBEkhSktZdwgR+Uwt9750oFhSwL9ZWwI4mXhUybM2Unp8LR5j2urHE6Jc2+XCXcYtjW+N+aOM6d/mqllIf7jHQO9qeJdubOx1Y7euXMNhWr3py1Wycdbd5xN3FeWl+pOLstG9bECD7yYt3Em4bZhkO+YJ//NCle3ck2DVI9t/Rh5F3ygakKIeICyfm7neM6sLF/bXTGZR0e0lZ7jPklnGN15oX59ZjLb7RZS6zIO9IpK+jMPQz7I8CHD+70eVg0dveZfcNrqn/wKfqW428OTBoL/wTe0FcIhoO5j9U8J8MPYOxljyxmInXFdHsgOB9OgrpPZOiThnKmjwC+WBz/5Dh2i9eTWQWCKjNCKBMPatqg94ta9VTQrZp2wd0w+FmYCh659oJx5YmQYJzOcRG9pTv2Nie7UdzF9ConMfY6oXDB+yzudR3tQEFVD4qok56DQpGd33CGVzXURJhjtaTnBt5JjSrke/o2cZdPPgyCmXBi7Yw19SWzK2F6fnPy2vmBSLPi+MCa1TxKuHf21jNXlCP7KoN0a3dBtJi9WMXZvUQxxzIVmV6WgQVyR/K3vKWANERSgAcmwVb2cBvO+DSA9hzzy1EGd5vVJXTwJ473vmbdGMZeVPijSjDlOkZJv/sD4tuMxDzIisYiucjFb+sQkU1GgnuZnPFcH1vLBM/BLVgE="