version: "~> 1.0"
git:
  depth: 1
  quiet: true
language: java
jdk:
- openjdk17
branches:
  only:
  - develop
  - support/.*
  - master
cache:
  directories:
  - "$HOME/.m2"
notifications:
  irc:
    channels:
    - chat.freenode.net#craftercms
    use_notice: true
    skip_join: true
  slack: craftersoftware:7YiSb41ZG5rfMgiAY7Qgprc7
before_install:
  - mkdir -p $HOME/.m2
  - cp .travis-settings.xml $HOME/.m2/settings.xml
script:
- if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then bash -c  "mvn -DskipTests deploy
  --settings .travis-settings.xml";  fi
- if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then bash -c "mvn -DskipTests clean
  install" ;fi
env:
  global:
  - secure: eywE6qkzx50rCZ7O3NDfjkgvHMeEpznovB3juXW0hox+LWpKNDbpnlClsRvEMYGFQGdHE59zo4FtyrlzwK6HyMmkTu21e1hgKmDyyypOzFvp4tuDP5e6HsKupPAN3GF5VPB2s/dPJE4awwpx9Jwe6dxe2w7fnxC7HBurn9mb5WTk9pFJwMb8rfAGoZT/XOuzERI40eNMhFFPBt6zYLttClXjc0b1hNMfq44IycBOAqt9VushO8LZ2s1PChx8HNfJKjsCs8hwUlFQdLadmXUFIYdahghX2hsS5VC3e1MPKZwGPcGvWf5YKSct9vkr5BeaGIGIEey2IO4ey5sdN2BMKjdZJyh5vjIGMtABb80uY/FGPvwDo7lCxRi9Pm4Wd0rfDaX0MkTBfAYcsE3NWLtlK20/AXJ2fa/OtTqxyOJxlA8cJBtY8BAQO7gJdVDAxsir5onksXWihEKlw7Im3pUjgSj9kiwhIsPOwAUwthfcqjlbIwJ8KWc/X+q2pbR8CRZSyy4m538Q1HrnwYmvA/6g0cWuWSGqatJcbt7pubt+DUTJQzWBd6ye2kKKlmyt6xfpy6skN2eE6StI6WvZQ45UStszyzeSxumWv/xXWisHifR5P+g24HpuBxsXRgqEUTQlaTbSxHxet2A1ZV9Jg2YPF14L41Nerzwips4ywYnxM6c=
  - secure: da8e7i0IwMA/ekk+cAamqalIHoKjhBNt5wb7QJ8nIUJ/WCfZ0uQ762qG/1nJOFxd9xySQbEho7M1/CAIXJZ4/0CcTRCEZ+gDs5NCTu4VYXU+Tq2XEm2SXxtQ3ehOo0GRXeriJtAR8WdgI8umvBPfSceWGLJQRCvsJZ90Sf2Dn+TUkL15q/juNj5PZFLomeh+907Iil+d4Uk/YERDpZsFglO6eCBj3XaC3gjXVys54j93dapxCyToqYGjchZlsFnn7b6lujkFgYaDKbbA7M3pmMoJTK3LHcTTw9vfKBBTWObJgTZQNNAA08IWDMNEkCQKN4dTMAFhi72G7D68KVD/nsyaXPOdpMOxSHxJiMNreAOPpyP2kl9ikDeapeuFO3Yvn+X4agviX7ZDDaGBzODd9/8fCs/jDWSxKvEAb8KgLj3O6GffACy0iRL7/WRWCzrgYmkrm+v/Ary0PAMC2r3nFxsWp8jInDVdpnj8Oo4msFRImweOtD+mmBc86czoB1Mpc0dn190gj+92JokL3XWg7jatInSvTiDVNUsoABAJUrF/O4VovnPzBxTvKgEBrcG7uUBby3YX0E/aFDal3s9mHG51yhwrK7bCfxuCCQsztug10gC9U5aa6fPk5rwNCtUaUm3An6YF+21xORYMqh5FWabJ2egW9RDjPnWHskuSIFQ=
